benchmarks/*.png
benchmarks/*.rds
local/*
*.Rprofile
build/*
gnur/*
*.swp
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
librjit.so
perf.data
perf.data.old
rjit_0.1.tar.gz
rjit.Rcheck
rjit/src/Makevars
.gdbinit
packages/
