benchmarks/*.png
benchmarks/*.rds
xml/*
rjit/src/handlers/codegen/*
rjit/src/sandbox.cpp
local/*
*.Rprofile
build/*
gnur/*
*.swp
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
librjit.so
perf.data
perf.data.old
rjit_0.1.tar.gz
rjit.Rcheck
rjit/src/Makevars
packages/
.local.config
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.gdb_history
.clang_complete
index.db
