benchmarks/*.png
benchmarks/*.rds
xml/*
local/*
*.Rprofile
build/*
gnur/*
*.swp
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
Makefile
cmake_install.cmake
librir.so
perf.data
perf.data.old
packages/
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.gdb_history
.clang_complete
index.db
doxygen_sqlite3.db
Rplots.pdf
.test_results
benchmarks/
.Rhistory
/tests
*.dylib
.R_HOME
.vscode/
.travis_token
/bin
