stages:
  - Build base container
  - Build container
  - Build benchmark container
  - Deploy
  - Cleanup
  - Benchmark
  - Report


cache:
  paths:
  - apt-cache/



variables:
  REBENCH_OPTIONS: "-df $CI_PROJECT_DIR/benchmarks.data -R"
  REBENCH_RUN: "/opt/rbenchmarking/Setup/run.sh /opt/rbenchmarking/rebench.conf /opt/rbenchmarking/Benchmarks /opt/rir/build/release"
  REBENCH_RUN_BL: "/opt/rbenchmarking/Setup/run.sh /opt/rbenchmarking/rebench.conf /opt/rbenchmarking/Benchmarks . /opt/rir/external/custom-r /opt/graal"
  SAVE_LOGS: "sh /opt/rir/tools/copy-logs.sh /opt/rir/external/custom-r/tests $CI_PROJECT_DIR/logs"

rir_container:
  stage: Build container
  image: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:19.03.0-dind
      alias: docker
  before_script:
    - docker info
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u $CI_REGISTRY_USER --password-stdin registry.gitlab.com
    - docker build --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA -t registry.gitlab.com/rirvm/rir_mirror:$CI_COMMIT_SHA .
    - docker push registry.gitlab.com/rirvm/rir_mirror:$CI_COMMIT_SHA
  tags:
    - dockerInDocker
  retry: 1

benchmark_container:
  stage: Build benchmark container
  needs:
    - rir_container
  image: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:19.03.0-dind
      alias: docker
  before_script:
    - docker info
  tags:
    - dockerInDocker
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u $CI_REGISTRY_USER --password-stdin registry.gitlab.com
    - cd container/benchmark
    - docker build --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA -t registry.gitlab.com/rirvm/rir_mirror/benchmark:$CI_COMMIT_SHA .
    - docker push registry.gitlab.com/rirvm/rir_mirror/benchmark:$CI_COMMIT_SHA
  retry: 1


deploy:
  stage: Deploy
  except:
    - schedules
  image: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:19.03.0-dind
      alias: docker
  before_script:
    - docker info
  variables:
    GIT_STRATEGY: none
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u $CI_REGISTRY_USER --password-stdin registry.gitlab.com
    - docker pull registry.gitlab.com/rirvm/rir_mirror:$CI_COMMIT_SHA
    - docker tag registry.gitlab.com/rirvm/rir_mirror:$CI_COMMIT_SHA registry.gitlab.com/rirvm/rir_mirror:master
    - docker push registry.gitlab.com/rirvm/rir_mirror:master
    - docker pull registry.gitlab.com/rirvm/rir_mirror/benchmark:$CI_COMMIT_SHA
    - docker tag registry.gitlab.com/rirvm/rir_mirror/benchmark:$CI_COMMIT_SHA registry.gitlab.com/rirvm/rir_mirror/benchmark:master
    - docker push registry.gitlab.com/rirvm/rir_mirror/benchmark:master
  tags:
    - dockerInDocker
  only:
    - master


cleanup_registry:
  stage: Cleanup
  image: ruby:2.5
  before_script: []
  script:
    - echo -n "$CI_JOB_TOKEN" | ruby container/cleanup.rb

report_results:
  stage: Report
  image: ruby:2.5
  before_script: []
  script:
    - ruby tools/report_ci_results.rb

benchmark_llvm:
  image: registry.gitlab.com/rirvm/rir_mirror/benchmark:$CI_COMMIT_SHA
  stage: Benchmark
  variables:
    GIT_STRATEGY: none
  tags:
    - benchmarks
  script:
    - $REBENCH_RUN "e:PIR-LLVM $REBENCH_OPTIONS"
    - cp /tmp/memory.data $CI_PROJECT_DIR/
  artifacts:
    paths:
    - benchmarks.data
    - memory.data
    expire_in: 24 month
  retry: 1

benchmark_gnur:
  image: registry.gitlab.com/rirvm/rir_mirror/benchmark-baseline
  stage: Benchmark
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - schedules
  tags:
    - benchmarks
  script:
    - $REBENCH_RUN_BL "e:GNU-R $REBENCH_OPTIONS"
    - cp /tmp/memory.data $CI_PROJECT_DIR/
  artifacts:
    paths:
    - benchmarks.data
    - memory.data
    expire_in: 6 month

benchmark_fastr:
  image: registry.gitlab.com/rirvm/rir_mirror/benchmark-baseline
  stage: Benchmark
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - schedules
  tags:
    - benchmarks
  script:
    - $REBENCH_RUN_BL "e:FASTR $REBENCH_OPTIONS"
    - cp /tmp/memory.data $CI_PROJECT_DIR/
  artifacts:
    paths:
    - benchmarks.data
    - memory.data
    expire_in: 6 month

update_containers:
  image: registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:stable
  stage: Build base container
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: docker:dind
      alias: docker
  before_script:
    - docker info
  only:
    refs:
      - schedules
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u $CI_REGISTRY_USER --password-stdin registry.gitlab.com
    - docker pull docker.io/library/docker:19.03.0-dind
    - docker pull docker.io/library/docker:stable
    - docker pull docker.io/library/ubuntu:20.04
    - docker tag docker.io/library/docker:19.03.0-dind registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:19.03.0-dind
    - docker tag docker.io/library/docker:stable registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:stable
    - docker tag docker.io/library/ubuntu:20.04 registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/ubuntu:20.04
    - docker push registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:19.03.0-dind
    - docker push registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/docker:stable
    - docker push registry.gitlab.com/rirvm/rir_mirror/dockerhub_mirror/ubuntu:20.04
    - cd container/benchmark-baseline && sh update.sh
  tags:
    - dockerInDocker
  retry: 1
